.comic-controls {
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;
}

.go-fwd-btn,
.go-back-btn {
  position: absolute;
  top: 50%;
  transition: opacity 0.4s ease;
}

.go-fwd-btn {
  right: 1.75%;
}

.go-back-btn {
  left: 1.75%;
}
