@import '../../scss/variables.scss';

.side-menu {
  width: 100vw;
  max-width: 438px;
  height: 100vh;

  position: fixed;
  top: 0;
  right: 0;

  background: linear-gradient(
    180deg,
    #000000 0%,
    rgba(0, 0, 0, 0.8) 100%
  );

  .side-menu-content {
    width: 100%;
    height: 100%;
    padding-top: 10vh;

    display: flex;
    flex-direction: column;

    .side-menu-close-btn {
      position: absolute;
      top: 20px;
      right: 20px;
    }

    .side-menu-list {
      list-style: none;
      margin: 0;
      padding: 0;
      flex: 1;
      display: flex;
      flex-direction: column;

      .side-menu-list-item {
        font-size: 2rem;
        text-align: center;
        margin: 6.25vh 0;

        @media (min-width: $sm-min) and (orientation: landscape) {
          font-size: 1.8125rem;
          margin: 5vh 0;
        }

        @media (min-width: $md-min) {
          font-size: 2.8125rem;
          margin: 3.25vh 0;
        }
      }
    }
  }
}
