.comic-content {
  width: 100vw;
  height: 100vh;

  background: #292929;

  display: flex;
  flex-direction: column;
}

.comic-content-title,
.comic-content-search,
.comic-content-grid {
  width: 92%;
  max-width: 1350px;
  position: relative;
  margin: 0 auto;
}

.comic-content-title span {
  display: block;
  font-size: 3.75em;
  margin: 40px 0;
}

.comic-content-input {
  width: 100%;
  height: 50px;
  background: #000000;
  border: 2px solid #727272;
  box-sizing: border-box;
  border-radius: 91px;
  margin-bottom: 20px;
  padding-left: 22px;
  font-size: 1.5em;
}

.comic-content-grid {
  overflow-y: scroll;

  .comic-grid-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 104px 0;

    .comic-grid-card {
      width: calc(100% / 3);
      max-width: 372px;
      position: relative;

      img {
        width: 100%;
        height: auto;
      }

      .comic-grid-card-index {
        width: 100%;
        height: 48px;
        background: linear-gradient(
          180deg,
          rgba(0, 0, 0, 0.6) 0%,
          #000000 100%
        );

        position: absolute;
        bottom: 0;
        left: 0;
        display: flex;
        align-items: center;

        span {
          font-size: 1.875em;
          margin-left: 8px;
        }
      }
    }
  }
}
