@import '../../scss/variables.scss';

.about {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  .about-close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
  }

  .about-title,
  .about-content {
    width: 92%;
    max-width: 1330px;
  }

  .about-title {
    font-size: 2rem;
    text-align: center;

    margin: 40px 0;

    @media (min-width: $sm-min) and (orientation: landscape) {
      margin: 18px 0;
    }

    @media (min-width: $lg-min) {
      margin-top: 56px;
      margin-bottom: 62px;
      font-size: 3.75em;
      text-align: initial;
    }
  }

  .about-content {
    overflow-y: scroll;
    overflow-x: hidden;
    flex: 1;

    margin-top: 8px;
    margin-bottom: 0;

    @media (min-width: $sm-min) and (orientation: landscape) {
      display: flex;
    }

    .about-content-col {
      flex: 1;

      @media (min-width: $sm-min) and (orientation: landscape) {
        padding: 0 6px;
      }

      @media (min-width: $md-min) and (orientation: landscape) {
        padding: 0 10px;
      }

      @media (min-width: $lg-min) {
        padding: 0 14px;
      }
    }

    .about-content-item {
      margin: 0;
      margin-bottom: 18px;

      @media (min-width: $lg-min) {
        margin-bottom: 30px;
      }

      .about-content-title,
      .about-content-subtitle {
        font-size: 0.8125rem;
        text-align: center;

        @media (min-width: $sm-min) and (orientation: landscape) {
          font-size: 0.7125rem;
          text-align: left;
        }

        @media (min-width: $md-min) and (orientation: portrait) {
          font-size: 1.25rem;
        }

        @media (min-width: $md-min) and (orientation: landscape) {
          font-size: 0.8125rem;
          text-align: left;
        }

        @media (min-width: $lg-min) {
          font-size: 1.25rem;
          text-align: left;
        }
      }

      .about-content-title {
        font-weight: 700;
      }

      .about-content-subtitle {
        font-weight: 400;
      }
    }
  }

  .about-content-logo {
    width: 100%;
    height: 15.625vh;

    @media (min-width: $md-min) and (orientation: landscape) {
      height: 24vh;
    }

    display: flex;
    align-items: center;
    justify-content: center;

    > svg {
      width: 30%;
      height: auto;

      @media (min-width: $sm-min) and (orientation: landscape) {
        width: 14%;
      }
    }
  }
}
