@import '../../scss/variables.scss';

.about {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  .about-title,
  .about-content {
    width: 92%;
    max-width: 1330px;
  }

  .about-title {
    font-size: 2rem;
    text-align: center;

    margin: 40px 0;

    @media (min-width: $sm-min) and (orientation: landscape) {
      margin: 18px 0;
    }

    @media (min-width: $lg-min) {
      margin-top: 56px;
      margin-bottom: 62px;
      font-size: 3.75em;
      text-align: initial;
    }
  }

  .about-content {
    overflow-y: scroll;
    overflow-x: hidden;
    flex: 1;

    margin-top: 8px;
    margin-bottom: 0;
    text-align: center;

    display: flex;
    flex-direction: column;

    @media (min-width: $sm-min) and (orientation: landscape) {
      display: grid;
      margin-bottom: 4px;
      grid-template-columns: repeat(3, 1fr);
    }

    .about-content-item {
      margin: 0;
      margin-bottom: 18px;

      .about-content-title,
      .about-content-subtitle {
        font-size: 0.75rem;
        line-height: 0.875rem;
      }

      .about-content-title {
        font-weight: 700;
      }

      .about-content-subtitle {
        font-weight: 400;
      }
    }
  }

  .about-content-logo {
    width: 100%;
    height: 15.625vh;

    display: flex;
    align-items: center;
    justify-content: center;

    > svg {
      width: 30%;
      height: auto;

      @media (min-width: $sm-min) and (orientation: landscape) {
        width: 14%;
      }
    }
  }
}
