@import '../../scss/variables.scss';

.tutorial-page {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  > img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .skip-tutorial {
    font-size: 0.8125rem;
    line-height: 20px;
    text-align: center;
    text-decoration: none;
    margin-top: 8vh;
    position: relative;

    @media (orientation: landscape) {
      margin-top: 16vh;
    }

    @media (min-width: $sm-min) {
      font-size: 1.125rem;
    }

    @media (min-width: $md-min) and (orientation: portrait) {
      font-size: 1.8125rem;
    }

    @media (min-width: $lg-min) {
      font-size: 2rem;
    }
  }

  .tutorial-content,
  .tutorial-step-container,
  .tutorial-step {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
  }

  .tutorial-step-container {
    background: rgba(0, 0, 0, 0.7);
  }

  .tutorial-stepper-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    .tutorial-stepper {
      width: 110px;
      height: 40px;
      margin-bottom: 2vh;

      display: flex;
      align-items: center;
      justify-content: space-evenly;

      @media (min-width: $sm-min) {
        width: 150px;
      }

      .tutorial-step-nav {
        width: 8px;
        height: 8px;
        border-radius: 100%;
        background: rgba(196, 196, 196, 0.6);
        transition: all 0.3s ease;
        position: relative;

        &.active {
          transform: scale(1.3);
          background: #c4c4c4;
        }

        @media (min-width: $sm-min) and (orientation: landscape) {
          width: 14px;
          height: 14px;
        }

        @media (min-width: $md-min) and (orientation: portrait) {
          width: 14px;
          height: 14px;
        }

        @media (min-width: $lg-min) {
          width: 16px;
          height: 16px;
        }
      }
    }
  }
}
