@import '../../scss/variables.scss';

.tutorial {
  width: 100vw;
  height: 100vh;

  > img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: 0 auto;
  }
}

.skip-tutorial {
  position: absolute;
  top: 0;
  left: 0;
  text-decoration: none;
  font-size: 1.5em;
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translate(-50%, 0);
}

.tutorial-content,
.tutorial-step-container,
.tutorial-step {
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;
}

.tutorial-step-container {
  background: rgba(0, 0, 0, 0.7);
}

.tutorial-fade-enter {
  opacity: 0;
}

.tutorial-fade-exit {
  opacity: 1;
}

.tutorial-fade-enter-active {
  opacity: 1;
}

.tutorial-fade-exit-active {
  opacity: 0;
}

.tutorial-fade-enter-active,
.tutorial-fade-exit-active {
  transition: opacity 500ms;
}

.tutorial-stepper {
  width: 150px;
  height: 40px;

  position: absolute;
  bottom: 1%;
  left: 50%;
  transform: translate(-50%, 0);

  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.tutorial-step-nav {
  width: 16px;
  height: 16px;
  border-radius: 100%;
  background: rgba(196, 196, 196, 0.6);
  transition: all 0.3s ease;

  &.active {
    transform: scale(1.25);
    background: #c4c4c4;
  }
}

.tutorial-arrow {
  width: 22%;
  height: auto;

  position: absolute;
  top: 48%;

  &.left {
    left: 9%;
  }

  &.right {
    right: 9%;
  }
}

.tutorial-arrow-text {
  width: 36%;
  text-align: center;
  font-size: 2em;

  position: absolute;
  left: 50%;
  top: 52%;
  transform: translate(-50%, 0);
}

.tutorial-arrow-sound {
  width: 20%;
  height: auto;

  position: absolute;
  top: 2%;
  left: 8%;
  z-index: 200;

  @media screen and (min-width: $l-breakpoint) {
    width: 14%;
    left: 6.5%;
  }
}

.tutorial-sound-text {
  text-align: center;
  font-size: 2em;

  position: absolute;
  left: 30%;
  top: 30%;
  transform: translate(-50%, 0);

  @media screen and (min-width: $l-breakpoint) {
    left: 22%;
  }
}

.tutorial-arrow-menu {
  width: 30%;
  height: auto;

  position: absolute;
  top: 8%;
  right: 3%;
  z-index: 200;

  @media screen and (min-width: $l-breakpoint) {
    width: 20%;
  }
}

.tutorial-menu-text {
  width: 30%;
  text-align: center;
  font-size: 2em;

  position: absolute;
  right: 1%;
  top: 48%;
  transform: translate(-50%, 0);

  @media screen and (min-width: $l-breakpoint) {
    width: 26%;
    right: -4%;
    top: 46%;
  }
}

.tutorial-arrow-navigator {
  width: 22%;
  height: auto;

  position: absolute;
  top: 2%;
  left: 55%;
  z-index: 200;

  @media screen and (min-width: $l-breakpoint) {
    width: 16%;
  }
}

.tutorial-navigator-text {
  width: 34%;
  text-align: center;
  font-size: 2em;

  position: absolute;
  left: 50%;
  top: 18%;
  transform: translate(-50%, 0);

  @media screen and (min-width: $l-breakpoint) {
    width: 26%;
  }
}

.tutorial-navigator .comic-navigator {
  pointer-events: none;
}

.go-to-comic {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
