@import '../../scss/variables.scss';

.step-menu {
  .tutorial-arrow-menu {
    width: 30%;
    height: auto;

    position: absolute;
    right: 5%;
    top: 8%;
    z-index: 200;

    @media (min-width: $sm-min) and (orientation: landscape) {
      width: 22%;
      right: 4%;
      top: 12%;
    }

    @media (min-width: $md-min) and (orientation: landscape) {
      width: 20%;
      right: 5%;
      top: 12%;
    }

    @media (min-width: $md-min) and (orientation: portrait) {
      width: 24%;
      right: 5%;
      top: 4%;
    }

    @media (min-width: $lg-min) {
      width: 20%;
      right: 4%;
      top: 8%;
    }

    path {
      stroke: white;
      stroke-width: 4px;

      @media (min-width: $md-max) {
        stroke-width: 0;
      }

      @media (min-width: $lg-min) {
        stroke-width: 0;
      }
    }
  }

  .tutorial-menu-text {
    width: 54%;

    text-align: center;
    font-size: 1rem;

    position: absolute;
    right: 5%;
    top: 24%;

    @media (min-width: $sm-min) and (orientation: landscape) {
      width: 32%;
      right: 10%;
      top: 52%;
    }

    @media (min-width: $md-min) and (orientation: landscape) {
      width: 32%;
      right: 10%;
      top: 54%;
      font-size: 1.125rem;
    }

    @media (min-width: $md-min) and (orientation: portrait) {
      width: 32%;
      right: 12%;
      top: 22%;
      font-size: 1.25rem;
    }

    @media (min-width: $lg-min) {
      width: 22%;
      right: 12%;
      top: 48%;
      font-size: 2rem;
    }
  }
}
