@import '../../scss/variables.scss';

.step-final {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;

  @media (min-width: $sm-min) and (orientation: landscape) {
    justify-content: center;
  }

  .tutorial-final-text {
    width: 62%;
    max-width: 210px;
    text-align: center;
    font-size: 1rem;

    margin-bottom: 16px;

    @media (min-width: $md-min) {
      font-size: 1.8125rem;
      max-width: 302px;
    }
  }

  .go-to-comic {
    width: 84%;
    max-width: 280px;
    height: 64px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 2px solid #ffffff;
    box-sizing: border-box;
    border-radius: 29px;

    font-size: 1.4375em;
    text-decoration: none;
    margin-top: 16px;
    margin-bottom: 20vh;

    @media (min-width: $sm-min) and (orientation: landscape) {
      margin-bottom: 0;
    }

    @media (min-width: $lg-min) {
      max-width: 212px;
      height: 66px;
      margin-top: 8vh;
    }
  }
}
