.tutorial-arrow {
  width: 24%;
  height: auto;

  position: absolute;
  top: 50%;

  &.left {
    left: 9%;
  }

  &.right {
    right: 9%;
  }
}

.tutorial-arrow-text {
  width: 36%;
  text-align: center;
  font-size: 2em;

  position: absolute;
  left: 50%;
  top: 52%;
  transform: translate(-50%, 0);
}
