button {
  background-color: transparent;
  border: none;
}

.mide-text {
  color: white;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: bold;
}

.app-comic {
  width: 100%;
  height: 100%;
  background-color: black;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.comic-viewer,
.comic-page {
  width: 100%;
  height: 100%;
  opacity: 1.0;
  transition: opacity 0.4s ease;
}

.comic-page-hidden {
  opacity: 0.0;
}

.comic-controls {
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;
}

.go-fwd-btn,
.go-back-btn {
  position: absolute;
  top: 50%;
  transition: opacity 0.4s ease;
}

.go-fwd-btn {
  right: 2.5%;
}

.go-back-btn {
  left: 2.5%;
}
